* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.containerAll {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

@font-face {
  font-family: "suisseintl-book";
  src: url("/assets/fonts/freizeit-light/freizeit-light.otf") format("truetype"),
    url("/assets/fonts/freizeit-light/freizeit-light.eot") format("eot"),
    url("/assets/fonts/freizeit-light/freizeit-light.woff") format("woff"),
    url("/assets/fonts/freizeit-light/freizeit-light.woff2") format("woff2");
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// @font-face {
//   font-family: "suisseintl-regular";
//   src: url("/assets//fonts//SuisseIntl-Regular.otf") format("truetype");
// }

// @font-face {
//   font-family: "suisseintl-semibold";
//   src: url("/assets/fonts/SuisseIntl-SemiBold.otf") format("truetype");
// }
