&_intro {
  &_container {
    .buttons {
      padding: 40px 20px;

      @media (min-width: 950px) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      .content_button {
        order: 1;
      }
    }
    .content_button {
      text-align: end;
      button {
        box-shadow: 0px 0px 6px #ffffff;
        border: 3px solid #ffffff;
        opacity: 1;
        background: transparent;
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        color: white;
        width: 200px;
        height: 45px;
        font-size: 16px;
        letter-spacing: 2px;
        color: #ffffff;
        font-family: suisseintl-book;
      }

      @media (hover: hover) {
        button:hover {
          cursor: pointer;
          background-color: #ffffff1a;
        }
      }

      @media (min-width: 950px) {
        padding: 0px 20px;
        button {
          width: 200px;
          height: 60px;
          font-size: 18px;
        }
      }
    }

    .content_button_two {
      text-align: end;
      padding-top: 10px;
      font-size: 14px;
    
      font-family: suisseintl-book;
      letter-spacing: 2px;

      a {
        color: white;
      }

      @media (min-width: 950px) {
        font-size: 18px;
        padding-right: 20px;
        padding-bottom: 10px;
      }
    }

    @media (hover: hover) {
      .content_button_two:hover {
        text-shadow: 0px 0px 6px #ffffff;
      }
    }

    .content_header {
      padding-top: 0px;
      color: white;
      width: 60%;
      margin: 0 auto;

      img {
        width: 200px;
      }

      @media (min-width: 990px) {
        img {
          width: 400px;
        }
      }
    }

    @media (min-width: 750px) {
      .content_header {
        margin: 0px;
      }
    }

    .content_img {
      margin-top: 100px;
      margin-bottom: 500px;
      position: relative;
      .content_iframe {
        .iframe {
          width: 300px;
          height: 200px;
        }
        right: -20px;
        top: 80px;
        position: absolute;
        object-fit: cover;
      }
    }

    @media (min-width: 750px) {
      .content_header {
      }
      .content_img {
        margin-top: -180px;
        padding-bottom: 100px;
        .content_iframe {
          right: 100px;
          .iframe {
            width: 350px;
            height: 190px;
          }
        }
      }
    }

    @media (min-width: 950px) {
      .content_header {
        img {
          width: 350px;
        }
      }
      .content_img {
        .content_iframe {
          right: 150px;
        }
      }
    }

    @media (min-width: 1050px) {
      .content_img {
        margin-top: -100px;
        padding-bottom: 100px;
        .content_iframe {
          .iframe {
            width: 500px;
            height: 280px;
          }
          right: 200px;
        }
      }
    }

    @media (min-width: 1220px) {
      .content_img {
        margin-top: -180px;
        .content_iframe {
          right: 50px;
          .iframe {
            width: 600px;
            height: 320px;
          }
        }
      }
    }
  }
}
